* {
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-y: auto;
    background-color: #f4f4f4;
    color: #333;
}

.side-menu {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #2c3e50;
    color: #ecf0f1;
    transition: left 0.3s ease;
    padding-top: 50px;
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    padding: 15px;
    border-bottom: 1px solid #34495e;
}

.side-menu ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
}

.menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #34495e;
    cursor: pointer;
}

.content {
    padding-top: 50px;
    transition: margin-left 0.3s ease;
}

.side-menu.open {
    left: 0;
}

.content.menu-open {
    margin-left: 250px;
}

@media (max-width: 768px) {
    .side-menu {
        width: 100%;
    }

    .content.menu-open {
        margin-left: 0;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 40px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    z-index: 1;
}

.logo {
    width: 150px;
    height: auto;
    position: fixed;
    top: 20px;
}

#time-date {
    color: #00a9a9;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    position: absolute;
    right: 30px;
}

.date {
    display: block;
    margin-bottom: 10px;
}

.time {
    display: block;
    min-width: 100px;
}

.category-section {
    width: 100vw;
    margin-top: 30px;
}

.section-item {
    height: 840px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e7ecf0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 2px; /* Уменьшен отступ сверху */
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    border: 2px solid #00a9a9;
    border-radius: 2%;
    margin-bottom: 2px;
    margin: 2px;
}

/* Секция Family */
.family {
    background-image: url('/images/777.png');
    border: 2px solid #00a9a9;
    border-radius: 2%;
    margin-bottom: 5px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование элементов по горизонтали */
    justify-content: flex-start; /* Выравнивание по верхнему краю */
    height: 840px; /* Высота секции */
    padding: 50px 20px 0 20px; /* Отступы сверху и по бокам */
    box-sizing: border-box; /* Чтобы padding не выходил за пределы секции */
}

/* Общий стиль для всех секций */
.health {
    background-image: url('/images/health-image.jpg');
    border: 2px solid #00a9a9;
    border-radius: 2%;
    margin-bottom: 5px;
    margin: 2px;
}

/* Общий стиль для всех секций */
.career {
    background-image: url('/images/career-image.jpg');
    border: 2px solid #00a9a9;
    border-radius: 2%;
    margin-bottom: 1px;
    margin: 2px;
}

/* Общий стиль для всех секций */
.family {
    background-image: url('/images/000.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    align-items: center;
    border: 2px solid #00a9a9;
    border-radius: 2%;
    margin-bottom: 5px;
    margin: 2px;
    width: 100%;
    height: 840;
}

/* Центрирование текста заголовка Family */
.headline-family {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px; /* Уменьшили отступ снизу */
    text-align: center; /* Центрирование текста */
}

/* Центрирование подзаголовка */
.subhead-family {
    font-size: 36px;
    margin-bottom: 20px; /* Уменьшили отступ снизу */
    text-align: center; /* Центрирование текста */
}

/* Центрирование кнопок */
.cta-links {
    display: flex;
    justify-content: center; /* Центрирование кнопок по горизонтали */
    align-items: center; /* Центрирование кнопок по вертикали */
    gap: 20px; /* Отступ между кнопками */
    margin-top: 20px; /* Отступ сверху для кнопок */
}

/* Стили для кнопок */
.button-primary {
    background-color: #00a9a9;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.6);
}

.button-tertiary {
    background-color: transparent;
    border: 2px solid #00a9a9;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

  /* Изображение */
  .unit-image-wrapper {
    max-width: 100%;
  } 
 
  .unit-image {
    width: 100%;
    height: auto;
    background: url('your-image-path.jpg') no-repeat center center;
    background-size: cover;
  }

/* Секция Health */
.health {
    background-color: #c6cbce;
    border: 2px solid #00a9a9;
    border-radius: 2%;
    margin-bottom: 5px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование элементов по горизонтали */
    justify-content: flex-start; /* Выравнивание по верхнему краю */
    height: 840px; /* Высота секции */
    padding: 50px 20px 0 20px; /* Отступы сверху и по бокам */
    box-sizing: border-box; /* Чтобы padding не выходил за пределы секции */
}


/* Центрирование текста заголовка Health */
.headline-health {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px; /* Уменьшили отступ снизу */
    text-align: center; /* Центрирование текста */
}

/* Центрирование подзаголовка */
.subhead-health {
    font-size: 36px;
    margin-bottom: 20px; /* Уменьшили отступ снизу */
    text-align: center; /* Центрирование текста */
}

/* Центрирование кнопок */
.cta-links {
    display: flex;
    justify-content: center; /* Центрирование кнопок по горизонтали */
    align-items: center; /* Центрирование кнопок по вертикали */
    gap: 20px; /* Отступ между кнопками */
    margin-top: 20px; /* Отступ сверху для кнопок */
}

/* Стили для кнопок */
.button-primary {
    background-color: #00a9a9;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.button-tertiary {
    background-color: transparent;
    border: 2px solid #00a9a9;
    color: #00a9a9;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

  /* Изображение */
  .unit-image-wrapper {
    max-width: 50%;
  }
 
 
  .unit-image {
    width: 100%;
    height: auto;
    background: url('your-image-path.jpg') no-repeat center center;
    background-size: cover;
  }

  /* Секция Work */
.career {
    background-color: #c6cbce;
    border: 2px solid #00a9a9;
    border-radius: 2%;
    margin-bottom: 2px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование элементов по горизонтали */
    justify-content: flex-start; /* Выравнивание по верхнему краю */
    height: 840px; /* Высота секции */
    padding: 50px 20px 0 20px; /* Отступы сверху и по бокам */
    box-sizing: border-box; /* Чтобы padding не выходил за пределы секции */
}

/* Центрирование текста заголовка Work */
.headline-career {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px; /* Уменьшили отступ снизу */
    text-align: center; /* Центрирование текста */
}

/* Центрирование подзаголовка */
.subhead-career {
    font-size: 36px;
    margin-bottom: 20px; /* Уменьшили отступ снизу */
    text-align: center; /* Центрирование текста */
    margin-top: 20px;
}

/* Центрирование кнопок */
.cta-links {
    display: flex;
    justify-content: center; /* Центрирование кнопок по горизонтали */
    align-items: center; /* Центрирование кнопок по вертикали */
    gap: 20px; /* Отступ между кнопками */
    margin-top: 20px; /* Отступ сверху для кнопок */
}

/* Стили для кнопок */
.button-primary {
    background-color: #00a9a9;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.button-tertiary {
    background-color: transparent;
    border: 2px solid #00a9a9;
    color: #00a9a9;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

  /* Изображение */
  .unit-image-wrapper {
    max-width: 50%;
  }
 
  .unit-image {
    width: 100%;
    height: auto;
    background: url('your-image-path.jpg') no-repeat center center;
    background-size: cover;
  }

/* Разделённые секции для Finances и Household */
.split-section {
    display: flex;
    width: 100vw;
    margin-bottom: 2px; /* Уменьшен отступ между секциями */
    margin-bottom: 2px;
}

.split-section .finances,
.split-section .household {
    flex: 1;
    display: flex;
    flex-direction: column; /* Элементы будут располагаться вертикально */
    align-items: center; /* Центрируем элементы по горизонтали */
    justify-content: flex-start; /* Располагаем элементы сверху */
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    height: 640px;
    border: 2px solid #00a9a9;
    border-radius: 2%;
    margin: 2px; /* Уменьшен отступ между секциями */
}

.finances {
    background-image: url('/images/family-image.jpg');
    border: 2px solid #00a9a9;
    margin-bottom: 2px;
}

.household {
    background-image: url('/images/family-image.jpg');
    border: 2px solid #00a9a9;
    margin-bottom: 2px;
}

/* Центрирование текста заголовка Finances */
.headline-finances {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px; /* Уменьшили отступ снизу */
    text-align: center; /* Центрирование текста */
    margin-top: 15px;
}

/* Центрирование подзаголовка */
.subhead-finances {
    font-size: 24px;
    margin-bottom: 20px; /* Уменьшили отступ снизу */
    text-align: center; /* Центрирование текста */
}

/* Центрирование кнопок */
.cta-links {
    display: flex;
    justify-content: center; /* Центрирование кнопок по горизонтали */
    align-items: flex-start; /* Центрируем кнопки сверху */
    gap: 20px; /* Отступ между кнопками */
    margin-top: 20px; /* Отступ сверху для кнопок */
}

/* Стили для кнопок */
.button-primary {
    background-color: #00a9a9;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.button-tertiary {
    background-color: transparent;
    border: 2px solid #00a9a9;
    color: #00a9a9;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

/* Изображение */
.unit-image-wrapper {
    max-width: 50%;
}

.unit-image {
    width: 100%;
    height: auto;
    background: url('your-image-path.jpg') no-repeat center center;
    background-size: cover;
}

/* Центрирование текста заголовка Household */
.headline-household {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px; /* Уменьшили отступ снизу */
    text-align: center; /* Центрирование текста */
    margin-top: 15px;
}

/* Центрирование подзаголовка */
.subhead-household {
    font-size: 24px;
    margin-bottom: 20px; /* Уменьшили отступ снизу */
    text-align: center; /* Центрирование текста */
}

/* Центрирование кнопок */
.cta-links {
    display: flex;
    justify-content: center; /* Центрирование кнопок по горизонтали */
    align-items: flex-start; /* Центрируем кнопки сверху */
    gap: 20px; /* Отступ между кнопками */
    margin-top: 20px; /* Отступ сверху для кнопок */
}

/* Стили для кнопок */
.button-primary {
    background-color: #00a9a9;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.button-tertiary {
    background-color: transparent;
    border: 2px solid #00a9a9;
    color: #00a9a9;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

/* Изображение */
.unit-image-wrapper {
    max-width: 50%;
}

.unit-image {
    width: 100%;
    height: auto;
    background: url('your-image-path.jpg') no-repeat center center;
    background-size: cover;
}

/* Разделённые секции для Education и Self-Development */
.split-section-two {
    display: flex;
    width: 100vw;
    margin-top: 2px; /* Уменьшен отступ сверху */
}

.split-section-two .education,
.split-section-two .personal-development {
    flex: 1;
    display: flex;
    flex-direction: column; /* Элементы будут располагаться вертикально */
    align-items: center; /* Центрируем элементы по горизонтали */
    justify-content: flex-start; /* Располагаем элементы сверху */
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    height: 640px;
    border: 2px solid #00a9a9;
    border-radius: 2%;
    margin: 2px; /* Уменьшен отступ между секциями */
}

.education {
    background-image: url('/images/family-image.jpg');
    border: 2px solid #00a9a9;
}

.personal-development {
    background-image: url('/images/family-image.jpg');
    border: 2px solid #00a9a9;
}

/* Центрирование текста заголовка Education */
.headline-education {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px; /* Уменьшили отступ снизу */
    text-align: center; /* Центрирование текста */
    margin-top: 15px;
}

/* Центрирование подзаголовка */
.subhead-education {
    font-size: 24px;
    margin-bottom: 20px; /* Уменьшили отступ снизу */
    text-align: center; /* Центрирование текста */
}

/* Центрирование кнопок */
.cta-links {
    display: flex;
    justify-content: center; /* Центрирование кнопок по горизонтали */
    align-items: flex-start; /* Центрируем кнопки сверху */
    gap: 20px; /* Отступ между кнопками */
    margin-top: 20px; /* Отступ сверху для кнопок */
}

/* Стили для кнопок */
.button-primary {
    background-color: #00a9a9;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.button-tertiary {
    background-color: transparent;
    border: 2px solid #00a9a9;
    color: #00a9a9;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

/* Изображение */
.unit-image-wrapper {
    max-width: 50%;
}


.unit-image {
    width: 100%;
    height: auto;
    background: url('your-image-path.jpg') no-repeat center center;
    background-size: cover;
}

/* Центрирование текста заголовка Self-Development */
.headline-personal-development {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px; /* Уменьшили отступ снизу */
    text-align: center; /* Центрирование текста */
    margin-top: 15px;
}

/* Центрирование подзаголовка */
.subhead-personal-development {
    font-size: 24px;
    margin-bottom: 20px; /* Уменьшили отступ снизу */
    text-align: center; /* Центрирование текста */
}

/* Центрирование кнопок */
.cta-links {
    display: flex;
    justify-content: center; /* Центрирование кнопок по горизонтали */
    align-items: flex-start; /* Центрируем кнопки сверху */
    gap: 20px; /* Отступ между кнопками */
    margin-top: 20px; /* Отступ сверху для кнопок */
}

/* Стили для кнопок */
.button-primary {
    background-color: #00a9a9;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.button-tertiary {
    background-color: transparent;
    border: 2px solid #00a9a9;
    color: #00a9a9;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
